<section class="recipies">
  <div class="container recipes-all">
    <!------------- categiries  ------------->
    <div class="categiries-change">
      <button type="button" class="categories-btn-all categories-btn-all-js">
        All categories
      </button>
      <div class="categories-tumb">
        <ul class="categories-js"></ul>
      </div>
      <!--------- Popular recspies ----------->
      <h2 class="popular-recipes-head">Popular recipes</h2>
      <ul class="popular-change-js"></ul>
    </div>
    <!------------- filters додати розмітку Віталика----------------->
    <div>
      <!------------- cards Кірина вже тут---------------->
      <div class="container-card-list">
        <ul class="card-list"></ul>
      </div>
    </div>
  </div>
  <div id="tui-pagination-container" class="tui-pagination is-hidden"></div>
</section>
