<section class="recipies">
  <div class="container recipes-all">
    <!------------- categiries  ------------->
    <div class="categiries-change">
      <button type="button" class="categories-btn-all categories-btn-all-js">
        All categories
      </button>
      <div class="categories-tumb">
        <ul class="categories-js"></ul>
      </div>
      <!--------- Popular recspies ----------->
      <h2 class="popular-recipes-head">Popular recipes</h2>
      <ul class="popular-change-js"></ul>
    </div>
    <!------------- filters додати розмітку Віталика----------------->

    <div>
      <include src="./partials/filter.html"></include>

      <!------------- cards Кірина вже тут---------------->
      <include src="./partials/markup-card.html"></include>
    </div>
  </div>
  <div
    id="tui-pagination-container"
    class="tui-pagination visually-hidden"
  ></div>
</section>
