<div class="wrap">
  <form action="" class="form-search js-form-search">
    <div class="filter-wrape filter-wraper-search">
      <label for="search" class="filter-label">Search</label>
      <div class="filter-icon-search-wrap">
        <input
          type="text"
          name="search"
          id="search"
          class="filter-input js-search"
          placeholder="Enter Text"
        />
        <svg height="18" width="18" class="filter-search-icon">
          <use href="./images/icons.svg#search"></use>
        </svg>
      </div>
    </div>
    <div class="filter-wraper">
      <label for="time" class="filter-label"> Time</label>
      <select
        type="text"
        name="time"
        id="time"
        class="filter-select select-time js-time"
      ></select>
    </div>
    <div class="filter-wraper">
      <label for="area" class="filter-label"> Area</label>
      <select
        type="text"
        name="area"
        id="area"
        class="filter-select select-area js-area"
      ></select>
    </div>
    <div class="filter-wraper">
      <label for="ingredients" class="filter-label">Ingredients</label>
      <select
        type="text"
        id="ingredients"
        name="ingredients"
        class="filter-select select-ingredients js-ingredients"
      >
        <option value="">Basil Leaves</option>
      </select>
    </div>
  </form>
</div>
<div class="wrap-reset-btn">
  <button class="reset-btn js-reset-filter-btn">
    <svg height="16px" width="16px" class="reset-close-icon">
      <use href="./images/icons.svg#close"></use>
    </svg>
    Reset the filter
  </button>
</div>
