<header class="header">
  <div class="container header-container">
    <ul class="navigation">
      <li class="nav-item">
        <a class="nav-item-link link" href="./index.html">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-item-link link" href="#">Favorites</a>
      </li>
    </ul>

    <a class="logo-link link" href="./index.html">
      <p class="logo"><span class="logo-green">tasty</span>treats.</p>
    </a>

    <a href="" class="basket-link link">
      <svg class="basket-icon" width="24" height="24">
        <use href="./images/icons.svg#basket"></use>
      </svg>
    </a>

    <div class="menu-button-container">
      <button
        type="button"
        class="menu-toggle-open js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle-icon" width="32" height="32">
          <use href="./images/icons.svg#burger"></use>
        </svg>
      </button>
    </div>

    <div class="form-field">
      <input
        type="checkbox"
        name="policy"
        class="check visually-hidden"
        id="check"
      />
      <label for="check" class="check-text"></label>
    </div>
  </div>
</header>
