<section class="hero">
    <div class="container">
        <div class="title">
            <h1 class="title-hero">Learn to Cook <span class="title-hero-color">Tasty Treats'</span> Customizable Masterclass</h1>
            <p class="text-hero">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
            <button class="btn-hero" type="button">Order now</button>
        </div>
        <div class="hero-swiper">
            
        </div>
    </div>
</section>