.favorite .card-favorite-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 32px;
  margin-left: auto;
  margin-right: auto;
}
.favorite .card-list {
  display: flex;
  flex-wrap: wrap;
}
.favorite .favorite-cards {
  margin-top: 24px;
}
@media only screen and (min-width: 768px) {
  .favorite .favorite-cards {
    margin-top: 32px;
  }
}
.favorite .box-list {
  width: 375px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .favorite .box-list {
    width: 768px;
    padding-left: 32px;
    margin-top: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .favorite .box-list {
  width: 1280px;
    padding-left: 100px;
  }
}
.favorite .container-card-list {
  margin-left: 0;
}
.favorite .favorite-filter-list {
  overflow: auto;
}
.favorite .favorite-filter-list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid transparent;

}
.favorite .favorite-filter-list::-webkit-scrollbar-track {
  background-color: transparent;
}
.favorite .favorite-filter-item {
  white-space: nowrap;
  height: 46px;
}
@media only screen and (min-width: 768px) {
  .favorite .photo-thumb {
    width: 224px;
    height: 224px;
  }
}
@media only screen and (min-width: 768px) {
  .favorite .photo-thumb:after {
    width: 224px;
  }
}
@media only screen and (min-width: 768px) {
  .favorite .photo-img {
    width: 224px;
    height: 224px;
  }
}
@media only screen and (min-width: 768px) {
  .favorite .container-card-list {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .favorite .card-item {
    width: 224px;
  }
}
@media only screen and (min-width: 768px) {
  .favorite .photo-card {
    width: 224px;
  }
}
@media only screen and (min-width: 768px) {
  .favorite .info {
    width: 192px;
  }
}
@media only screen and (min-width: 768px) {
  .favorite .box-star {
    display: flex;
    column-gap: 2px;
  }
}
/* desc*/

@media only screen and (min-width: 1280px) {
  .favorite .photo-thumb {
    width: 258px;
    height: 287px;
  }
}
@media only screen and (min-width: 1280px) {
  .favorite .photo-thumb:after {
    width: 258px;
  }
}
@media only screen and (min-width: 1280px) {
  .favorite .photo-img {
    width: 258px;
    height: 287px;
  }
}
@media only screen and (min-width: 1280px) {
  .favorite .container-card-list {
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .favorite .card-item {
    width: 258px;
  }
}
@media only screen and (min-width: 1280px) {
  .favorite .photo-card {
    width: 258px;
  }
}
@media only screen and (min-width: 1280px) {
  .favorite .info {
    width: 226px;
  }
}
@media only screen and (min-width: 1280px) {
  .favorite .box-star {
    display: flex;
    column-gap: 4px;
  }
}
