.card-item {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container-card-list {
    width: 496px;
    margin-left: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-card-list {
    width: 782px;
    margin-left: 64px;
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 24px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .card-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .card-item {
    width: calc((100% - 16px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .card-item {
    width: calc((100% - 32px) / 3);
  }
}

.photo-card {
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  .photo-card {
    width: 250px;
  }
}

.photo-thumb {
  width: 335px;
}

@media only screen and (min-width: 768px) {
  .photo-thumb {
    width: 240px;
    height: 264px;
  }
}

@media only screen and (min-width: 1280px) {
  .photo-thumb {
    width: 250px;
    height: 287px;
  }
}

.photo-img {
  width: 335px;
  border-radius: 8px;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .photo-img {
    width: 240px;
    height: 264px;
  }
}

@media only screen and (min-width: 1280px) {
  .photo-img {
    width: 250px;
    height: 287px;
  }
}

.photo-thumb:after {
  width: 335px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(1deg,
      rgba(5, 5, 5, 0.6) 0%,
      rgba(5, 5, 5, 0) 100%);
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .photo-thumb:after {
    width: 240px;
  }
}

@media only screen and (min-width: 1280px) {
  .photo-thumb:after {
    width: 250px;
  }
}

.btn-favorite {
  position: absolute;
  z-index: 5;
  top: 16px;
  right: 16px;
  background-color: transparent;
}

.info {
  position: absolute;
  z-index: 4;
  width: 303px;
  bottom: 16px;
  left: 16px;
}

@media only screen and (min-width: 768px) {
  .info {
    width: 208px;
  }
}

.info-title {
  margin-bottom: 8px;
  color: var(--white-second-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
}

.info-text {
  margin-bottom: 16px;
  font-size: 12px;
  overflow: hidden;
  color: var(--white-second-color);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.33;
}

@media only screen and (min-width: 768px) {
  .info-text {
    margin-bottom: 14px;
  }
}

.info-bottom {
  display: flex;
  align-items: center;
}

.info-div {
  display: flex;
  align-items: center;
}

.info-rating {
  margin-right: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: var(--white-second-color);
}

@media only screen and (min-width: 768px) {
  .info-rating {
    margin-right: 2px;
  }
}

@media only screen and (min-width: 1280px) {
  .info-rating {
    margin-right: 4px;
  }
}

.info-btn {
  width: 89px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  background: var(--breen-color);
  color: var(--white-second-color);
}

@media only screen and (min-width: 1280px) {
  .info-btn {
    width: 93px;
  }
}

.info-star {
  fill: rgba(248, 248, 248, 0.1);
  width: 14px;
  height: 14px;
}

@media only screen and (min-width: 768px) {
  .info-star {
    width: 12px;
    height: 12px;
  }
}

.star {
  fill: rgba(5, 5, 5, 0.10);
  width: 14px;
  height: 14px;
}

@media only screen and (min-width: 768px) {
  .star {
    width: 12px;
    height: 12px;
  }
}

.yellow-star {
  fill: #EEA10C;
}
/* -----------Стилі для модалки----------- */

.card-modal {
  position: relative;
  width: 335px;
  padding: 40px 20px;
  border-radius: 15px;
  background: var(--whiit-first-color);
}

@media only screen and (min-width: 768px) {
  .card-modal {
    width: 531px;
    padding: 32px;
    padding-top: 70px;
  }
}

.modal-card-video {
  position: relative;
  margin-bottom: 20px;

  width: 295px;
  height: 295px;
  border-radius: 8px;
  background: rgba(5, 5, 5, 0.4) cover no-repeat;
}

@media only screen and (min-width: 768px) {
  .modal-card-video {
    width: 467px;
    height: 250px;
    margin-bottom: 78px;
  }
}

.modal-card-title {
  margin-bottom: 14px;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .modal-card-title {
    position: absolute;
    top: 32px;
    left: 32px;
  
      line-height: 1.22;
  }
}

.info-div-modal {
  display: flex;
  margin-bottom: 33px;
}
@media only screen and (min-width: 768px) {
  .info-div-modal {
    position: absolute;
    top: 336px;
    right: 32px;

    line-height: 1.22;
  }
}
.box-stars {
  margin-right: 16px;
}

.grey {
  margin-right: 6px;
  color: rgba(5, 5, 5, 0.5);
}

.info-time {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: rgba(5, 5, 5, 0.5);
}
.modal-card-list {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .modal-card-list {
    margin-bottom: 32px;
  }
}

.modal-card-item {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.10);
}

@media only screen and (min-width: 768px) {
  .modal-card-item {
  padding-top: 10px;
    padding-bottom: 8px;

    line-height: 1.22;
  }
}
.name-ingredient {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;

  color: var(--black-second-color);
}

.measure-ingredient {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;

    color: rgba(5, 5, 5, 0.50);
}

.modal-card-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .modal-card-tags {
    position: absolute;
    top: 336px;
    left: 32px;
    max-width: 290px;
    gap: 4px;
    line-height: 1.22;
  }
}

.modal-card-tag {
  border-radius: 35px;
  border: 1px solid rgba(5, 5, 5, 0.5);
  padding: 8px 16px;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
}

.modal-card-instructions {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(5, 5, 5, 0.8);
}

@media only screen and (min-width: 768px) {
  .modal-card-instructions {
    margin-bottom: 32px;
  }
}

.favorite-modal-btn {
  display: block;
  width: 148px;
  height: 41px;
  
  border-radius: 15px;

  background: var(--breen-color);
  color: var(--whiit-first-color);

    &:hover,
    &:focus {
  color: var(--black-second-color);
  }
}

@media only screen and (min-width: 768px) {
  .favorite-modal-btn {
    width: 156px;
    height: 45px;
  }
}

.basicLightbox {
  align-items: normal !important;
  overflow: auto;
}