div.tui-pagination {
  width: 335px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  div.tui-pagination {
    width: 446px;
    height: 44px;
    gap: 10px;
  }
}
div.tui-pagination .tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: var(--black-second-color);
  border-radius: 50%;
  border: 1px solid rgba(5, 5, 5, 0.3);
}
@media only screen and (min-width: 768px) {
  div.tui-pagination .tui-page-btn {
    width: 44px;
    height: 44px;
  }
}
div.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background-color: var(--breen-color);
  border: none !important ;
}
div.tui-pagination .tui-page-btn.tui-first {
  margin-right: -4px;
  background-color: rgba(5, 5, 5);
  border: none;
}
@media only screen and (min-width: 768px) {
  div.tui-pagination .tui-page-btn.tui-first {
    margin-right: -2px;
  }
}
div.tui-pagination .tui-page-btn.tui-prev {
  margin-right: 6px;
  background-color: rgba(5, 5, 5);
  border: none;
}
@media only screen and (min-width: 768px) {
  div.tui-pagination .tui-page-btn.tui-prev {
    margin-right: 14px;
  }
}
div.tui-pagination .tui-page-btn.tui-next {
  margin-left: 6px;
  background-color: rgba(155, 181, 55);
  border: none;
}
@media only screen and (min-width: 768px) {
  div.tui-pagination .tui-page-btn.tui-next {
    margin-left: 14px;
  }
}
div.tui-pagination .tui-page-btn.tui-last {
  margin-left: -4px;
  background-color: rgba(155, 181, 55);
  border: none;
}
@media only screen and (min-width: 768px) {
  div.tui-pagination .tui-page-btn.tui-last {
    margin-right: -2px;
  }
}

.tui-prev-is-ellip {
  display: none !important;
}

.tui-ico-first {
  background-position: -13px 0 !important;
}
.tui-ico-prev {
  background-position: -26px -12px !important;
}
