@import url(./reset.css);
@import url(./scrollbar.css);
@import url(./header.css);
@import url(./theme-switcher.css);
@import url(./markup-card.css);
@import url(./categories.css);
@import url(./pagination.css);
@import url(./hero.css);
@import url(./swiper.css);
@import url(./filter.css);
@import '../../node_modules/swiper/swiper-bundle.css';
@import '../../node_modules/swiper/modules/pagination.css';
@import url(./scroll-to-top.css);
@import url(./favorite.css);

/* Fonst */
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.woff2) format('woff2'),
    url(../fonts/Inter-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Medium.woff2) format('woff2'),
    url(../fonts/Inter-Medium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-SemiBold.woff2) format('woff2'),
    url(../fonts/Inter-SemiBold.woff) format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

/* Fonts */
:root {
  --black-firs-color: #000000;
  --black-second-color: #050505;
  --whiit-first-color: #ffffff;
  --white-second-color: #f8f8f8;
  --grey-color: #b4b4b4;
  --breen-color: #9bb537;

  --time: 350ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f8f8f8;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
