@media screen and (min-width: 1280px) {
  .hero-horizontal {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.swiper {
  min-width: 496px;
  height: 302px;
}

@media screen and (min-width: 768px) {
  .swiper {
    min-width: 871px;
    height: 468px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper {
    min-width: 871px;
    height: 468px;
    overflow: hidden;
  }
}

.swiper-desing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}

@media screen and (min-width: 768px) {
  .swiper-desing {
    column-gap: 16px;
  }
}

.shef-photo {
  width: 80px;
  height: 280px;
  border-radius: 15px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .shef-photo {
    width: 137px;
    height: 442px;
  }
}

.hero-dish-general {
  width: 200px;
  height: 280px;
  padding-top: 56px;
  border-radius: 15px;
  background-image: radial-gradient(
    circle at center,
    var(--breen-color) -300%,
    var(--black-second-color) 90%
  );
}

@media screen and (min-width: 768px) {
  .hero-dish-general {
    width: 351px;
    height: 442px;
    padding-top: 67px;
  }
}

.hero-dish-photo-small {
  width: 157px;
  height: 142px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .hero-dish-photo-small {
    width: 304px;
    height: 271px;
    margin-bottom: 32px;
    object-fit: cover;
  }
}

.hero-dish-title {
  max-width: 157px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  color: rgba(248, 248, 248, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero-dish-title {
    max-width: 276px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero-dish-origin {
  margin-left: auto;
  margin-right: auto;
  color: rgba(248, 248, 248, 0.2);
  text-align: center;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-dish-origin {
    font-size: 12px;
    line-height: 1.17;
  }
}

.hero-dish-photo {
  min-width: 222px;
  min-height: 280px;
  border-radius: 15px;
  background: var(--black-second-color);
  object-fit: cover;
  background-position: 40% 40%;
  background-size: 520px;
}

@media screen and (min-width: 768px) {
  .hero-dish-photo {
    min-width: 351px;
    min-height: 442px;
    border-radius: 15px;
    background-position: 50%;
    background-size: 765px;
  }
}

span.swiper-pagination-bullet {
  opacity: 1!important;
  background-color: var(--black-second-color)!important;
}

span.swiper-pagination-bullet-active{
  opacity: 1!important;
  background-color:var(--breen-color)!important;
}

.swiper-pagination{
  left:-72px!important;
}

@media screen and (min-width: 768px) {
  .swiper-pagination{
    left:-107px!important;
  }
}
